img.card-img {
  width: 200px;
  height: 100px;
  display: inline-flex;
  border-radius: 8px;
  justify-content: space-around;
}

.card-img {
  grid-column-end: span 2;
  grid-row-end: span 2;
  border: 1px solid white;
  overflow: auto;
  max-height: 500px;
}

.card-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  justify-content: center;
}

* {
  box-sizing: border-box;
  background-color: white;

  font-size: 10px;
}
